@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  --line-opacity: 1;
}
html.dark {
  --line-color: #374151;
  --line-opacity: 0.5;
}
.borderBlack {
  @apply border border-black/10;
}
